
body {
    margin: 0;
    color: #176B87;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#tittle {
    text-shadow: 0 0 4x black;
}
.btn {
    border-radius: 10%;
    padding: 5px 10px;
    background: white;
    border: none; 
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 400px 0;
}

#underline {
    border-bottom: 4px solid white;
}

#main-logo {
    width: 100px;
}